
body{
    margin: 0;
}

#logo {
    width: 120px;
}
.user-icons{
    width: 30px;
}
#green-line{
    height: 5px;
}
#products-list li{
    width: 120px;
    font-weight:500;
}
.needBorder{
    border-width:5px !important;
    
}


